<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>LMS - Leads</title>

<!-- Bootstrap core CSS-->
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}"
	href="../static/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Custom fonts for this template-->
<link th:href="@{vendor/fontawesome-free/css/all.min.css}"
	href="../static/vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link th:href="@{datatables/dataTables.bootstrap4.css}"
	href="../static/vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{css/sb-admin.css}" href="../static/css/sb-admin.css"
	rel="stylesheet">

</head>

<body ng-app="app" ng-controller="leadGeneratorController" id="page-top">

	<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

		<a class="navbar-brand mr-1" href="index.html">LMS</a>

		<button class="btn btn-link btn-sm text-white order-1 order-sm-0"
			id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Navbar Search -->
		<form
			class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for..."
					aria-label="Search" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-primary" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</form>

		<!-- Navbar -->
		<ul class="navbar-nav ml-auto ml-md-0">
			<li class="nav-item dropdown no-arrow mx-1"><a
				class="nav-link dropdown-toggle" href="#" id="alertsDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> <span
					class="badge badge-danger">9+</span>
			</a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="alertsDropdown">
					<a class="dropdown-item" href="#">Action</a> <a
						class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div></li>
			<li class="nav-item dropdown no-arrow mx-1"><a
				class="nav-link dropdown-toggle" href="#" id="messagesDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-envelope fa-fw"></i> <span
					class="badge badge-danger">7</span>
			</a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="messagesDropdown">
					<a class="dropdown-item" href="#">Action</a> <a
						class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div></li>
			<li class="nav-item dropdown no-arrow"><a
				class="nav-link dropdown-toggle" href="#" id="userDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i class="fas fa-user-circle fa-fw"></i>
			</a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#">Settings</a> <a
						class="dropdown-item" href="#">Activity Log</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" data-toggle="modal"
						data-target="#logoutModal">Logout</a>
				</div></li>
		</ul>

	</nav>

	<div id="wrapper">

		<!-- Sidebar -->
		<div th:include="sidebar :: sidebar" class="sidebar">
			<ul class="sidebar navbar-nav">
				<li class="nav-item"><a class="nav-link" href="index.html">
						<i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
				</a></li>

				<li class="nav-item dropdown open"><a
					class="nav-link dropdown-toggle" href="#" id="pagesDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true"> <i class="fas fa-fw fa-folder"></i> <span>Leads</span>
				</a>
					<div class="dropdown-menu" aria-labelledby="pagesDropdown">
						<a class="dropdown-item" href="lead-data.html">Lead Data</a> <a
							class="dropdown-item active" href="lead-generator.html">Lead
							Generator</a> <a class="dropdown-item" href="lead-type.html">Lead
							Type</a>
					</div></li>
				<li class="nav-item"><a class="nav-link" href="campaign.html">
						<i class="fas fa-fw fa-folder"></i> <span>Campaign</span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					href="calendar-schedules.html"> <i class="fas fa-fw fa-folder"></i>
						<span>Calendar Schedules</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="notes.html">
						<i class="fas fa-fw fa-folder"></i> <span>Notes</span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					href="influencers.html"> <i class="fas fa-fw fa-folder"></i> <span>Influencers</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="proposals.html">
						<i class="fas fa-fw fa-folder"></i> <span>Proposals</span>
				</a></li>
				<li class="nav-item"><a class="nav-link"
					href="sales-invoice.html"> <i class="fas fa-fw fa-folder"></i>
						<span>Sales Invoice</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="reminders.html">
						<i class="fas fa-fw fa-folder"></i> <span>Reminders</span>
				</a></li>

			</ul>
		</div>

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
					<li class="breadcrumb-item">Leads</li>
					<li class="breadcrumb-item active">Lead Generator</li>
				</ol>

				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Lead Generator
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>Name</th>
										<th>Status</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Name</th>
										<th>Status</th>
									</tr>
								</tfoot>
								<tbody>
									<tr ng-repeat="lg in leadGenerators">
										<td>{{lg.name}}</td>
										<td>{{lg.status==1?'ACTIVE':'INACTIVE'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="card-footer small text-muted">Updated yesterday
						at 11:59 PM</div>
				</div>

				<p class="small text-center text-muted my-5">
					<em>More table examples coming soon...</em>
				</p>

			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<div th:include="footer :: footer">
				<footer class="sticky-footer">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright © Your Website 2018</span>
						</div>
					</div>
				</footer>
			</div>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{vendor/jquery/jquery.min.js}"
		src="../static/vendor/jquery/jquery.min.js"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"
		src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"
		src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Page level plugin JavaScript-->
	<script th:src="@{vendor/datatables/jquery.dataTables.js}"
		src="../static/vendor/datatables/jquery.dataTables.js"></script>
	<script th:src="@{vendor/datatables/dataTables.bootstrap4.js}"
		src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>

	<!-- Custom scripts for all pages-->
	<script th:href="@{js/sb-admin.min.js}"
		src="../static/js/sb-admin.min.js"></script>

	<script th:src="@{js/lib/angular.min.js}"
		src="../static/js/lib/angular.min.js"></script>
	<script th:src="@{js/app/LeadGeneratorController.js}"
		src="../static/js/app/LeadGeneratorController.js"></script>

</body>

</html>
