<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>LMS - Login</title>

<!-- Bootstrap core CSS-->
<link href="../static/vendor/bootstrap/css/bootstrap.min.css"
	th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="../static/vendor/fontawesome-free/css/all.min.css"
	th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet"
	type="text/css">

<!-- Custom styles for this template-->
<link href="../static/css/sb-admin.css" th:href="@{css/sb-admin.css}"
	rel="stylesheet">

</head>

<body class="bg-dark">

	<div id="app" class="container">
		<div class="card card-login mx-auto mt-5">
			<div class="card-header">Login</div>
			<div class="card-body">
				<form action="#" th:action="@{login}" th:object="${user}"
					method="post">
					<div class="form-group">
						<div class="form-label-group">
							<input name="username" th:value="${user.username}" type="text"
								id="inputUsername" class="form-control" placeholder="Username"
								required="required" autofocus="autofocus"> <label
								for="inputUsername">Username</label>
						</div>
					</div>
					<div class="form-group">
						<div class="form-label-group">
							<input name="password" th:value="${user.password}"
								type="password" id="inputPassword" class="form-control"
								placeholder="Password" required="required"> <label
								for="inputPassword">Password</label>
						</div>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label> <input type="checkbox" value="remember-me">
								Remember Password
							</label>
						</div>
					</div>
					<button class="btn btn-primary btn-block">Login</button>
				</form>
				<div class="mx_auto"></div>
				<div th:if="${isError}" class="alert alert-danger" role="alert">
					<strong>Failure!</strong> <span th:text="${errorMessage}">Error
						occured</span>
				</div>
				<div class="text-center">
					<a class="d-block small mt-3" th:href="@{register.html}">Register
						an Account</a> <a class="d-block small"
						th:href="@{forgot-password.html}">Forgot Password?</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="../static/vendor/jquery/jquery.min.js"
		th:src="@{vendor/jquery/jquery.min.js}"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"
		th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script src="../static/vendor/jquery-easing/jquery.easing.min.js"
		th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>
</body>

</html>
